<!DOCTYPE html>

<html>
    <head>
        <title>User Homepage</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

    </head>
<body>
  <div class="container">    
  <!-- Button trigger modal -->
  <div style="text-align: left;">
  <u><h2>USER HOMEPAGE</h2></u>
  <hr>
  <br>
  </div>
  <div class="login-container center">    
  <div style="display: block; align-items: center;">
        <p style="text-align:center;">
        <button id="hello" type="button">Get Brand Ratings</button>
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        <button type="button" data-bs-toggle="modal" data-bs-target="#user-search-modal">Search</button>
        &nbsp;&nbsp; &nbsp;&nbsp;
    </p>
    </div>
</div>

<div class="modal fade" id="user-search-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="Label"><u>Search the Database using a keyword</u></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          <div class="input-group mb-3">
              <span class="input-group-text" id="l">Enter Keyword</span>
              <input type="text" class="form-control" placeholder="Enter a keyword to search the database" aria-label="id" aria-describedby="basic-addon1">
          </div>
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="search-database-user" type="button" class="btn btn-primary">Search</button>
      </div>
      </div>
  </div>
  </div>


<hr>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script/modal.js') }}"></script>

</html>